@charset "utf-8";
/* CSS Document */

* {
margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #9A9595;
}

#container {
 width: 80%;
 margin: auto;
 border: 1px solid #FFFFFF;
}

h1, h2, p {
 color: #EBEBEB;
 margin-bottom: 35px;
}

header {
	height: 150px;
	background-image: url(bilder/07.jpg);
	background-size: cover;
	background-position: center;
}


header img {
	width: 120px;
	margin: 25px;
}

header a span {   /*wandelt das inline-Element span zu einem Blockelement, danach greift unser text-indent*/
	display: block;
	text-indent: -9999px;
	
}

main {
 padding: 25px;
 background-color: #4A4848;
}

section {
 padding: 20px;
	margin-bottom: 30px;
 border: 1px solid #F5C726;
}

section.eins img {
	width: 50%;
	background-color: #FF0004;
}



/*ab hier beginnt die Gestaltung meiner Galerie*/

ul.galerie {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 40px;
	/*background-color: #E800FF;*/
}

ul.galerie li {
	width: 180px;
	display: block;
	margin: 15px;
	/*background-color: #59FF6C;*/
}

ul.galerie li a:hover img {
	/*opacity: 0.5;*/
}

ul.galerie li img {
	width: 100%;
	filter: grayscale(100%);
	/*transition: 0.5s;*/
	display: block;
}

ul.galerie li:hover img {
	filter: grayscale(0%);
	/*border-radius: 50%;*/
	/*border: 1px solid #D9D6D6;*/
	outline: 2px solid #00DBFF;
	outline-offset: 10px;
}




